# Coursera IBM Data Science 

Final assigment 

***

# Data Science Tools and Ecosystem

***

This notebook will summarize the techniques and state of art on Data Science in Ecosystems

**Objectives**:

* List of popular languages in data Science
* List of popular tools for data Science
* Examples of usefull Python exspressions

***

Commonly used languages in DataScience are:

* Python
* R
* Julia
* SQL 

and much more...

***

Some of mostr commonly used libraries by data Scienties include: 

1. TensorFlow
2. Pandas
3. matplotlib

***

| Data science tools |
|--------------------|
| Jupyter Notebook |
| SQL databases |
| RStudio |
| Google Collab |

***

### Below are a few examples of evaluating arithmetic exspresions in Python

In [ ]:

# This is a simple artimetic expression to multiply then add integers

(3*4)+5

17

***

In [3]:
# This will convert 200 minutes into hours

n = 200/60

print(f"This will be {round(n,2)} hours")

This will be 3.33 hours

***

## Author:
Olga Sieradzan